doctype html
html(lang="es")
  head
    title LogiFlow
    block extraStyles
    link(rel="stylesheet", href="/styles/styles.css")
  body
    header
      h1 LogiFlow 
            h2 Tu logistica de confianza
            nav.navbar
                ul.nav-links 
                    li: a(href="/index") Home 
                    li: a(href="/dashboard") Dashboard
                    li: a(href="/envios") Envios 
                    li: a(href="/flota") Nuestra Flota
                    li: a(href="/choferes") Nuestros Choferes
                    li: a(href="/facturas") Facturas
    main
      block content

    footer 
        .quick-actions
            h2 Acciones rápidas
            ul.actions
                li: a(href="/envios/agregar") ➕ Crear nuevo envío
                li: a(href="/flota/asignar") 🚚 Asignar vehículo
                li: a(href="/reportes") 📊 Ver reportes
